<div class="navBar">
  <p>OneStar3gram</p>
  <div id="navigation" routerLink="/">
    <img src="assets/logo.svg" alt="logo"/>
    <p id="appName">OneStar3gram</p>
  </div>
  <div id="profile">
    @if (!isLogged) {
      <a href="/login" (onClick)="register()">Login</a>
      <a href="/register" (onClick)="register()">Register</a>
    } @else {
      <img src="assets/profile.svg" alt="profile" (onclick)="profile()"/>
      <img src="assets/disconnect.svg" alt="disconnect" (onClick)="logout()"/>
    }
</div>
