<div class="navBar">
  <div id="navigation" routerLink="/">
    <img src="assets/logo.svg" alt="logo"/>
    <p id="appName">OneStar3gram</p>
  </div>
  <div id="profile">
    @if (!isLogged) {
      <a href="/login" class="navigation-button" (click)="login()">Login</a>
      <a href="/register" class="navigation-button" (click)="register()">Register</a>
    } @else {
      @if (isAdmin && !isOnPage("/add")) {
        <img src="assets/add.svg" class="navigation-button" alt="add post" routerLink="/add">
      }
      <img src="assets/profile.svg" class="navigation-button" alt="profile" routerLink="/profile"/>
      <img src="assets/disconnect.svg" class="navigation-button" alt="disconnect" (click)="logout()"/>
    }
  </div>
</div>
