$primary-color : #0B162C;
$secondary-color : #1C2942;
$third-color: #3B556D;
$highlight-color: #5FC2BA;
$font-color : white;

#no-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 200%;
    text-align: center;
    color: $font-color;

    img {
        padding-top: 5%;
        width: 30%;
    }
}

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}
app-post {
    width: 70%;
    height: fit-content;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;;
}
