:host {
    display: flex;
    align-items: center;
}
.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #D4D4A5;
    video, img {
        width: 30%;
    }

    .description {
        width: 30%;
    }

    .upper-bar {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;
      width: 30%;
      img {
        cursor: pointer;
        width: 1.5vw;
      }
      .post-profile {
        display: flex;
        grid-column-start: 2;
      }
      .admin-actions > img {
        height: 100%;
      }

      .admin-actions {
        display: none;
        margin-left: auto;
      }
    }

    .post-metadata {
        display: flex;
        flex-direction: row;
        width: 53%;
        align-items: center;
        justify-content: center;
        margin-top: 0.2vw;
        img {
          cursor: pointer;
          width: 10%;
        }
        .likes, .comments {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.post:hover > .upper-bar > .admin-actions {
  display: flex;
}
