$primary-color : #0B162C;
$secondary-color : #1C2942;
$third-color: #3B556D;
$font-color : white;

:host {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 499px) {
  .post {
    .upper-bar {
      width: 90%;
      img {
        width: 30%;
      }
    }
    .post-metadata {
      width: 150%;
      img {
        width: 20%;
      }
    }
  }
}

@media only screen and (min-width: 500px) {
  .post {
    .upper-bar {
      width: 90%;
      img {
        width: 10%;
      }
    }
    .post-metadata {
      width: 60%;
      img {
        width: 20%;
      }
    }
  }
}



.post {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $secondary-color;
    color: $font-color;
    video, img {
        width: 90%;
    }

    .description {
        width: 90%;
    }

    .upper-bar {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;
      position: relative;

      img {
        cursor: pointer;
      }
      .post-profile {
        display: flex;
        grid-column-start: 2;
      }

      .burger-actions-post {
        position: absolute;
        top: 0;
        right: 0;
        margin-left: auto;
      }
    }

    .post-metadata {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 0.2vw;
        img {
          cursor: pointer;
          width: 10%;
        }
        .likes, .comments {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.post:hover > .upper-bar > .admin-actions {
  display: flex;
}


#links {
  display: none;
  visibility: hidden;
}

.burger-actions-post a {
  color: white;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.admin-actions a {
  padding: 14px 16px;
}

.burger-actions-post a:hover {
  background-color: #ddd;
  color: black;
}

.burger-actions-post {
  background-color: $secondary-color;
  position: relative;
  visibility: visible;
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
  }

  .admin-actions {
    display:none;
    position: absolute;
    top:100%;
    background-color: $secondary-color;
    width: 200%;
    right: 0;
  }

  .icon {
    display: block;
    padding-top: 0.2rem;
    width: 50%;
  }
}