    :host {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    app-post {
        width: 70%;
    }
    #comment {
        width: 70%;
    }