<div class="profile">
  <h1>Profile</h1>
  <div class="container">
    <div class="info block">
      <div>
        <p>Username : {{username}}</p>
      </div>
      <div>
        <p>First name : {{firstName}}</p>
      </div>
      <div>
        <p>Last name : {{lastName}}</p>
      </div>
      <div>
        <p>Email : {{email}}</p>
      </div>
    </div>
    <div class="update block">
      <form action="https://proxy-onestar3gram:8080/realms/OneStar3gram/account/">
        <input type="submit" value="Update profile">
      </form>
      <button (click)="disconnect()">Disconnect</button>
    </div>
  </div>
</div>
