$primary-color : #0B162C;
$secondary-color : #1C2942;
$third-color: #3B556D;
$font-color : white;

@media only screen and (min-width: 700px) {
    .dashboard {
        height: 100%;
        display: grid;
        gap: 5%;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-rows: repeat(2, minmax(0, 1fr));
    }

    .media-box {
        grid-column: 1;
        grid-row: 1;
    }
    
    .post-box {
        grid-column: 2;
        grid-row: 1;
    }

    .image-box {
        grid-column: 1;
        grid-row: 2;
    }

    .user-stat-box {
        grid-column: 3;
        grid-row: 1;
    }

    .video-box {
        grid-column: 2;
        grid-row: 2;
    }

    .user-manage-box {
        grid-column: 3;
        grid-row: 2;
    }
}

@media only screen and (max-width: 699px) {
    .dashboard {
        display: flex;
        flex-direction: column;
    }

    .box {
        margin-top: 1rem;
    }

    .user-manage-box {
        height: 25rem;
        overflow: auto;
        display: flex;
        align-items: center;
    }
}

.dashboard {
    width: 100%;
    box-sizing: border-box;
    padding: 1%;
}

.box {
    background-color: $secondary-color;
    color: $font-color;
    border-radius: 10%;
    padding: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
}

.no-data {
    text-align: center;
    width: 100%;
    position: absolute;
    left: 0;
    top: 45%;
    font-size: 3rem;
}

:host {
    position: relative;
    height: 100%;
    width: 100%;
    display: block;
}

.image-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 3rem;

    canvas {
        margin-left: auto;
        margin-right: auto;
    }
}

.video-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 3rem;

    canvas {
        margin-left: auto;
        margin-right: auto;
    }
}

canvas {
    color: $font-color;
}