<div class="comment">
  <div class="header">
    <div class="origin">
      <span class="author">
        <img src="assets/profile.svg" alt="Image représentant l'utilisateur"/>
        <p>{{comment?.appUser?.username}}</p>
      </span>
      <span class="date">
        Publiée le
        {{comment?.postDate?.getDay}}/{{comment?.postDate?.getMonth}}/{{comment?.postDate?.getFullYear}}
      </span>
    </div>
  </div>
  <div class="body">
    <div class="content">
      {{comment?.value}}
    </div>
    <div class="icon">
      <button (click)="removeComment()"><img src="assets/remove.svg" alt="Bouton de suppression"/></button>
      <button (click)="toggleLike()"><img src="assets/like.svg" alt="Bouton de j'aime"/></button>
    </div>
  </div>
</div>
